
.cityHourlyContianer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
}


.cityHourly{
        border: 1px solid rgb(216, 216, 216);
        padding: 1%;
        width: 24%;
        margin-top: 1%;
}

.bold{
        font-weight: bold;
}
